body {
    background-color: lightskyblue;
}

.homapagebtn{
    background-color: black;

    margin-right:30%;
    margin-top:2%;
}

.welcome{
    padding: 5%;
}

.webtypeface{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
  }

.nologinbtn {
    background-color: black;
    margin-bottom: 2%;
}


*,
*::before,
*::after {
  box-sizing: unset; 
}

.row{
    margin-left:0;
    margin-right:0;
}

hr{
    background-color: black;
}

.btn{white-space:normal;}